/// Estilos para dispositivos con un ancho máximo de 800px.
/// Se define una cuadrícula con dos filas: una para la navegación y otra para el contenido.
/// @group Responsive
@media (max-width:800px){
    /// Contenedor principal con una disposición en cuadrícula.
    /// @access public
    #wrapper{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 25vh 70vh;
        grid-template-areas: "nav"
                            "content";
        font-family: 'Times New Roman', Times, serif;
    }
    /// Barra de navegación superior.
    /// @access public
    /// @group Navigation
    #nav{
        background-color: #3c86ff;
        position: sticky;
        top:0;
        width: 100vw;
        /// Imagen de perfil en la navegación.
        /// @type Image
        .pic{
            margin: 5% 3% 0 3%;
            height:15vh;
            float: left;
            border-radius: 50%;
            border: 2px solid #434b596f;
        }
        /// Nombre del usuario en la navegación.
        /// @type Text
        .name{
            padding: 9% 0 0 0;
            font-size: 18px;
            font-weight: bold;
            color: #fff;
        }
        /// Información adicional debajo del nombre (studies).
        .st{
            padding: 2% 0 0 0;
            color: #fff;
            font-size: 16px;
        }
        /// Menú de navegación inferior con enlaces.
        /// @group Navigation
        .scroll{
            position: absolute;
            bottom: 0;
            width: 100%;
            border-top:1px solid #434b596f;
            ul{
                li:nth-child(4){
                    border-right: 0px none;
                }
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                background-color: #1966e0;
                border-bottom: 1px solid #434b596f;
                li{
                border-right: 1px solid #ffffffaf;
                padding: 3%;
                list-style: none;
                    /// Enlace dentro del menú de navegación.
                    /// @type Link
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
        /// Sección de contacto en la navegación (oculta en pantallas pequeñas).
        /// @access private
        #contactNav{
            visibility: hidden;
            display: none;
        }
    }
    /// Sección de contenido principal.
    /// @group Content
    #content{
        grid-area: content;
        margin: 10% 2%;
        /// Títulos dentro del contenido.
        /// @type Heading
        h1{
            font-size: 22px;
            margin:1% 0;
            color: #1966e0;
        }
        /// Sección "Sobre mí".
        /// @group About
        #about{
            div{
                @include text();
                span{
                    font-weight: bold;
                }
            }
        }
        /// Secciones de educación y experiencia laboral.
        /// @group Experience
        #education,#work{
            margin: 5% 0;
            ul{
                @include text();
                li{
                    list-style:square;
                    ul{
                        li{
                            text-indent: 1%;
                            list-style: none;
                        }
                    }
                }
            }
        }
        /// Sección de contacto con íconos y enlaces.
        /// @group Contact
        #contact{
            margin: 5% 0;
            display: flex;
            #contacto{
                margin: 10%;
                #container{
                    display: flex;
                    margin: 4% 0;

                }
            }
            img{
                width: 10vw;
            }
            /// Icono de GitHub.
            /// @type Image
            .git{
                width: 8vw;
                margin: 1%;
            }
            /// Enlaces de contacto.
            #cont{
                margin: 4% 0 0 3%;
                width: 20vw;
                a{
                    @include links();
                    color: #000;
                }
            }
        }
    }
}
@media (min-width:800px){
    #wrapper{
        display: grid;
        grid-template-columns: 30vw 70vw;
        grid-template-rows: 100vh;
        grid-template-areas: "nav content";
        font-family: 'Times New Roman', Times, serif;
    }
    #nav{
        position:fixed;
        top:0;
        bottom:0;
        height: 100%;
        color: #fff;
        @include centered();
        grid-area: nav;
        background-color: #3c86ff;
        border-right: 2px solid #434b596f;
        .pic{
            margin: 2% 25% 0 25%;
            width: 15vw;
            border-radius: 50%;
            border: 2px solid #434b596f;
        }
        h2{
            margin: -30% 0 -18% 0;
        }
        p{
            margin: -10% 0 0 0;
            font-size: 16px;
        }
        .scroll{
            ul{ 
                margin: -10% 0 0 0;
                li{
                    $white: #fff;
                    @include centered();
                    @include abouts();
                    border-bottom: 1px solid #434b596f;
                    a{
                        @include links();
                        @include centered();
                        @include abouts();
                        color: $white;
                        font-size: 19px;
                    }
                    a:hover{
                        @include postlinks();
                        @include centered();
                    }
                    a:link{
                        color: $white;
                    }
                }
            }
        }
        #contactNav{
            display: flex;
            flex-direction: row;
            align-content: space-between;
            margin:0 auto;
            img{
                width: $img;
            }
            .git{
                @include git();
            }
        }
    }
    #content{
        grid-area: content;
        margin: 1% 2%;
        h1{
            font-size: 22px;
            margin:1% 0;
            color: #1966e0;
        }
        #about{
            div{
                @include text();
                span{
                    font-weight: bold;
                }
            }
        }
        #education,#work{
            ul{
                @include text();
                li{
                    list-style:square;
                    ul{
                        li{
                            text-indent: 1%;
                            list-style: none;
                        }
                    }
                }
            }
        }
        #contact{
            display: flex;
            #contacto{
                margin: 4%;
                #container{
                    display: flex;
                    margin: 4% 0;
                }
            }
            img{
                width: $img;
            }
            .git{
                @include git();
            }
            #cont{
                margin: 4% 0 0 3%;
                width: 20vw;
                a{
                    @include links();
                    color: #000;
                }
            }
        }
    }
}