* {
  margin: 0;
  padding: 0;
}

@media (max-width: 800px) {
  #wrapper {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 30vh 70vh;
    grid-template-areas: "nav" "content";
    font-family: "Times New Roman", Times, serif;
  }
  #nav {
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    top: 0;
    height: 30vh;
    width: 100%;
    color: #fff;
    display: grid;
    align-items: center;
    text-align: center;
    grid-area: nav;
    background-color: #3c86ff;
  }
  #nav .pic {
    margin: 5% 2%;
    width: 25vw;
    border-radius: 50%;
    border: 2px solid rgba(67, 75, 89, 0.4352941176);
  }
  #nav .name {
    width: 60%;
    transform: translateY(-50%);
    margin: -60% 0 -18% 30%;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
  }
  #nav .st {
    width: 50%;
    text-align: left;
    margin: -25% 0 0 30%;
    font-size: 16px;
  }
  #nav .scroll {
    position: relative;
    justify-content: space-around;
    font-size: 5px;
    height: 6vh;
    background-color: #3c86ff;
    border-top: 1px solid rgba(67, 75, 89, 0.4352941176);
    transform: translateY(100%);
  }
  #nav .scroll ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 6vh;
  }
  #nav .scroll ul li {
    width: 25%;
    display: grid;
    align-items: center;
    text-align: center;
    background-color: rgba(25, 101, 224, 0.4784313725);
    border-bottom: 1px solid rgba(67, 75, 89, 0.4352941176);
  }
  #nav .scroll ul li a {
    text-decoration: none;
    display: grid;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 14px;
  }
  #nav #contactNav {
    position: relative;
    display: flex;
    flex-direction: row;
    bottom: 10px;
    transform: translateY(-100%);
    justify-content: space-around;
  }
  #nav #contactNav img {
    width: 10vw;
  }
  #nav #contactNav .git {
    width: 8vw;
    margin: 1%;
  }
  #content {
    grid-area: content;
    margin: 15% 2%;
  }
  #content h1 {
    font-size: 22px;
    margin: 1% 0;
    color: #1966e0;
  }
  #content #about div {
    width: 85%;
    margin: 0 auto;
    line-height: 25px;
  }
  #content #education, #content #work {
    margin: 5% 0;
  }
  #content #education ul, #content #work ul {
    width: 85%;
    margin: 0 auto;
    line-height: 25px;
  }
  #content #education ul li, #content #work ul li {
    list-style: square;
  }
  #content #education ul li ul li, #content #work ul li ul li {
    text-indent: 1%;
    list-style: none;
  }
  #content #contact {
    margin: 5% 0;
    display: flex;
  }
  #content #contact #contacto {
    margin: 10%;
  }
  #content #contact #contacto #container {
    display: flex;
    margin: 4% 0;
  }
  #content #contact img {
    width: 10vw;
  }
  #content #contact .git {
    width: 8vw;
    margin: 1%;
  }
  #content #contact #cont {
    margin: 4% 0 0 3%;
    width: 20vw;
  }
  #content #contact #cont a {
    text-decoration: none;
    color: #000;
  }
}
@media (min-width: 800px) {
  #wrapper {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 100vh;
    grid-template-areas: "nav content";
    font-family: "Times New Roman", Times, serif;
  }
  #nav {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    color: #fff;
    display: grid;
    align-items: center;
    text-align: center;
    grid-area: nav;
    background-color: #3c86ff;
    border-right: 2px solid rgba(67, 75, 89, 0.4352941176);
  }
  #nav .pic {
    margin: 2% 25% 0 25%;
    width: 15vw;
    border-radius: 50%;
    border: 2px solid rgba(67, 75, 89, 0.4352941176);
  }
  #nav h2 {
    margin: -30% 0 -18% 0;
  }
  #nav p {
    margin: -10% 0 0 0;
    font-size: 16px;
  }
  #nav .scroll ul {
    margin: -10% 0 0 0;
  }
  #nav .scroll ul li {
    display: grid;
    align-items: center;
    text-align: center;
    height: 7vh;
    width: 30vw;
    border-bottom: 1px solid rgba(67, 75, 89, 0.4352941176);
  }
  #nav .scroll ul li a {
    text-decoration: none;
    display: grid;
    align-items: center;
    text-align: center;
    height: 7vh;
    width: 30vw;
    color: #fff;
    font-size: 19px;
  }
  #nav .scroll ul li a:hover {
    background-color: rgba(255, 255, 255, 0.6862745098);
    color: #3c86ff;
    display: grid;
    align-items: center;
    text-align: center;
  }
  #nav .scroll ul li a:link {
    color: #fff;
  }
  #nav #contactNav {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin: 0 auto;
  }
  #nav #contactNav img {
    width: 2.5vw;
  }
  #nav #contactNav .git {
    width: 1.5vw;
    margin: 0.5vw;
  }
  #content {
    grid-area: content;
    margin: 1% 2%;
  }
  #content h1 {
    font-size: 22px;
    margin: 1% 0;
    color: #1966e0;
  }
  #content #about div {
    width: 85%;
    margin: 0 auto;
    line-height: 25px;
  }
  #content #education ul, #content #work ul {
    width: 85%;
    margin: 0 auto;
    line-height: 25px;
  }
  #content #education ul li, #content #work ul li {
    list-style: square;
  }
  #content #education ul li ul li, #content #work ul li ul li {
    text-indent: 1%;
    list-style: none;
  }
  #content #contact {
    display: flex;
  }
  #content #contact #contacto {
    margin: 4%;
  }
  #content #contact #contacto #container {
    display: flex;
    margin: 4% 0;
  }
  #content #contact img {
    width: 2.5vw;
  }
  #content #contact .git {
    width: 1.5vw;
    margin: 0.5vw;
  }
  #content #contact #cont {
    margin: 4% 0 0 3%;
    width: 20vw;
  }
  #content #contact #cont a {
    text-decoration: none;
    color: #000;
  }
}

/*# sourceMappingURL=index.css.map */
